.Form {
  margin: auto;
  margin-top: 40px;
  background: rgb(142, 106, 176);
  width: 700px;
  height: 80vh;
  padding: 15px 30px;
  color: rgb(255, 255, 184);
  border: 5px solid grey;
}

h3 {
  text-align: center;
  text-transform: uppercase;
}





